<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript">
        function silent_remove(id) {
            href = "/books/delete/" + id;
            $.post({
                url: href,
                success: function (){$("#"+id).remove();}
            });
        }
    </script>
</head>
<body>
<form>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Publication date</th>
            <th>Authors</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
        {% for book in books %}
            <tr id="{{ book.id }}">
                <td>{{ book.id }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.description }}</td>
                <td>{{ book.publication_date }}</td>
                <td>
                    {% for author in book.authors %}
                        {{ author.name }};<br>
                    {% endfor %}
                </td>
                <td>Image</td>
                <td>
                    <button type="button" onclick="silent_remove({{ book.id }});">Delete</button>
                    <button type="button" onclick="window.open('./update/{{ book.id }}');">Edit</button>
                </td>
            </tr>
        {% endfor %}
    </table>
</form>
<button type="button" onclick="window.open('/books/create/');">New Book</button>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
