<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript">
        href = '/authors/get/all';
        $.get({
            url: href,
            success: function (json_data) {
                authors_json = json_data;
            }
        });
        function change_select_field(book_id, field_id) {
            if (typeof authors_json !== 'undefined') {
                table_row = $("#" + book_id + "_authors");
                if ($("select").is("#" + book_id + "_select")){
                    return;
                }
                $("#" + book_id + "__authors_container").attr('hidden', 'hidden');
                table_row.append('<select id="' + book_id + '_select" multiple="multiple">');
                JSON.parse(authors_json, function (key, value) {
                    if (key !== '') {
                        $("#" + book_id + "_select").append('<option value="' + key + '">' + value + '</option>')
                    }
                });
                table_row.append('</select>');
            }
        }

        function change_text_field(book_id, field_id, value) {
            row = $("#" + field_id);
            row.empty();
            row.append('<input type="text" value="' + value + '">');
            $("#" + book_id + "_ok_btn").removeAttr('hidden');
        }

        function silent_remove(id) {
            href = "/books/delete/" + id;
            $.post({
                url: href,
                success: function (){$("#"+id).remove();}
            });
        }

    </script>
</head>
<body>
<form>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Publication date</th>
            <th>Authors</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
        {% for book in books %}
            <tr id="{{ book.id }}">
                <td>{{ book.id }}</td>
                <td ondblclick="change_text_field({{ book.id }}, '{{ book.id }}_name', '{{ book.name }}');" id="{{ book.id }}_name">{{ book.name }}</td>
                <td ondblclick="change_text_field({{ book.id }}, '{{ book.id }}_description', '{{ book.description }}');" id="{{ book.id }}_description">{{ book.description }}</td>
                <td ondblclick="change_text_field({{ book.id }}, '{{ book.id }}_publication_date', '{{ book.publication_date }}');" id="{{ book.id }}_publication_date">{{ book.publication_date }}</td>
                <td ondblclick="change_select_field({{ book.id }}, '{{ book.id }}_authors');" id="{{ book.id }}_authors">
                    <div id="{{ book.id }}__authors_container">
                        {% for author in book.authors %}
                            {{ author.name }};<br>
                        {% endfor %}
                    </div>
                </td>
                <td>Image</td>
                <td>
                    <button type="button" onclick="silent_remove({{ book.id }});">Delete</button>
                    <button type="button" onclick="window.open('./update/{{ book.id }}');">Edit</button>
                    <button type="button" onclick="" id="{{ book.id }}_ok_btn" hidden="hidden">OK</button>
                </td>
            </tr>
        {% endfor %}
    </table>
</form>
<button type="button" onclick="window.open('/books/create/');">New Book</button>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
